{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Ändra lösenord" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 animal-details-section box-shadow">
            <h1 class="white text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Ändra lösenord" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="white text-center">{% blocktrans %}Länken för återställning av lösenord var ogiltig, möjligen för att den redan har använts. Vänligen begär en <a href="{{ passwd_reset_url }}">ny lösenordsåterställning</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}" />
            </form>
            {% else %}
            <p class="white text-center">{% trans 'Ditt lösenord är nu ändrat.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}