{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Lösenordsåterställningt" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 animal-details-section box-shadow">
            <h1 class="white text-center">{% trans "Lösenordsåterställning" %}</h1>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="white text-center">{% blocktrans %}Vi har skickat ett e-postmeddelande till dig. Kontakta oss om du inte får det inom några få
                minuter.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}