{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Lösenordsåterställning" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 animal-details-section box-shadow">
            <h1 class="white text-center">{% trans "Lösenordsåterställning" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="white text-center">{% trans "Glömt ditt lösenord? Ange din e-postadress nedan, så skickar vi ett e-postmeddelande som låter dig återställa den." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p class="white text-center">{% blocktrans %}Kontakta oss om du har problem med att återställa ditt lösenord.{% endblocktrans %}</p>
        </div>
    </div>
</div>

{% endblock %}