{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Ändra lösenord" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 animal-details-section box-shadow">
            <h1 class="white text-center">{% trans "Ändra lösenord" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" class="btn btn-sm btn-success hvr-grow">{% trans "Ändra lösenord" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}