<div class="toast toast-custom rounded-1 border-0" data-autohide="false">
    <div class="w-100 toast-capper bg-info"></div>
    <div class="custom-toast-header toast-header text-center animal-details-section text-white w-100">
        <strong>OBS! <i class="fas fa-info-circle"></i></strong>
        <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="toast-body custom-toast-body">
       <p>{{ message }}</p> 
    </div>
</div>